<p><strong>{{complaintType}}</strong></p>
<p><strong>Usuário </strong>{{name}} - {{email}}</p>
<p><strong>Tipo:</strong> {{complaintType}}</p>
<p><strong>Assunto</strong> {{subject}}</p>
<p><strong>Descri&ccedil;&atilde;o</strong> {{description}}</p>